body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(124, 47, 239);

}

main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.621);
}

h1 {
    font-size: 2em;
    color: rgb(13, 13, 198);
}

h2 {
    font-size: 1.5em;
    color: rgb(43, 125, 226);
}

img.lado {
    float: right;
}
